body {
    background-color: #181818;
    min-height: 100vh; /*Centrerar allt vertikalt, tillsammans med align-items i section*/
    font-family: "IBM Plex Mono", monospace;
    color: #aeaeae;
    
}

.silkscreen-large {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}


.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.marginFix {
    margin-left: 50px;
}

section {
    /* Detta centrerar allt horisontellt */
    display: flex;
    justify-content: center;
    /* Detta centrerar allt vertikalt, tillsammans med min-height i body */
    align-items: center;

}

.bg-LightGray {
background-color: #2e2e2e;
}


.imageCenter {
    border-radius: 20px;
    border: 1px solid #dbdbdb;
}

/*Detta är för att centrera texten i Why Fullstack?*/
.textAlign {
    text-align: center;
}