body {
  background-color: #181818;
  font-family: "IBM Plex Mono", monospace;
  color: #aeaeae;
  margin: 0;
}

.silkscreen-large {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 100px;
}

.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-bold {
  font-weight: bold;
}

.container {
  width: 80%; /* Ökad bredd för bättre responsivitet */
  max-width: 600px; /* Maxbredd för att undvika för bred layout på stora skärmar */
  margin: 0 auto; /* Centrerar containern */
  padding: 50px; /* Lite luft runt innehållet */
}

.textCenter {
  text-align: center;
}

.box {
  margin: 0 auto; /* Centrerar listor och text */
  text-align: left; /* Vänsterjusterar text i listor och stycken */
  width: 300px;
}

.bg-LightGray {
  background-color: #2e2e2e;
}

.centered-image {
  display: block; /* Gör bilden till ett blockelement för att kunna centrera */
  margin: 50px auto; /* Centrerar bilden horisontellt */
  max-width: 100%; /* Gör bilden responsiv */
  border-radius: 25px;
  border: 1px solid #aeaeae;
}

.hideText {
  color: #181818;
}

.portfolio-margin {
  padding: 20px;
}

a {
  color: #aeaeae;
}

a:visited {
  color: #aeaeae; /* Eller vilken färg du vill, t.ex. #800080 */
}
