body {
    background-color: #181818;
    font-family: "IBM Plex Mono", monospace;
    color: #aeaeae;
    margin: 0 auto;
    text-align: center;
}

.silkscreen-large {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}


.silkscreen-regular {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
    
}

.bg-LightGray {
background-color: #2e2e2e;
}

img {
    border-radius: 25px;
    border: 1px solid #aeaeae;
}